/*  xs */
@media screen and (max-width: 640px) {
  .xs-100 {
    width: 100%;
  }
  .xs-75 {
    width: 750%;
  }
  .xs-50 {
    width: 50%;
  }
  .xs-33 {
    width: 33.33333%;
  }
  .xs-25 {
    width: 25%;
  }
  .xs-20 {
    width: 20%;
  }
  .xs-16 {
    width: 16.6666%;
  }
}
/*  sm */
@media screen and (min-width: 640px) {
  .sm-100 {
    width: 100%;
  }
  .sm-80 {
    width: 80%;
  }
  .sm-75 {
    width: 75%;
  }
  .sm-50 {
    width: 50%;
  }
  .sm-33 {
    width: 33.33333%;
  }
  .sm-25 {
    width: 25%;
  }
  .sm-20 {
    width: 20%;
  }
  .sm-16 {
    width: 16.6666%;
  }
}
/*  md */
@media screen and (min-width: 768px) {
  .md-100 {
    width: 100%;
  }
  .md-75 {
    width: 750%;
  }
  .md-50 {
    width: 50%;
  }
  .md-33 {
    width: 33.33333%;
  }
  .md-25 {
    width: 25%;
  }
  .md-20 {
    width: 20%;
  }
  .md-16 {
    width: 16.6666%;
  }
}

/*  lg */
@media screen and (min-width: 1024px) {
  .lg-100 {
    width: 100%;
  }
  .lg-75 {
    width: 750%;
  }
  .lg-59 {
    width: 59%;
  }
  .lg-50 {
    width: 50%;
  }
  .lg-33 {
    width: 33.33333%;
  }
  .lg-26 {
    width: 26%;
  }
  .lg-25 {
    width: 25%;
  }
  .lg-24 {
    width: 24%;
  }
  .lg-20 {
    width: 20%;
  }
  .lg-16 {
    width: 16.6666%;
  }
}
/*  xl */
@media screen and (min-width: 1280px) {
  .xl-100 {
    width: 100%;
  }
  .xl-75 {
    width: 75%;
  }
  .xl-65 {
    width: 65%;
  }
  .xl-50 {
    width: 50%;
  }
  .xl-40 {
    width: 40%;
  }
  .xl-33 {
    width: 33.33333%;
  }
  .xl-25 {
    width: 25%;
  }

  .xl-16 {
    width: 16.6666%;
  }
}
/*  xxl */
@media screen and (min-width: 1536px) {
  .xxl-100 {
    width: 100%;
  }
  .xxl-75 {
    width: 750%;
  }
  .xxl-50 {
    width: 50%;
  }
  .xxl-33 {
    width: 33.33333%;
  }
  .xxl-25 {
    width: 25%;
  }
  .xxl-20 {
    width: 20%;
  }
  .xxl-16 {
    width: 16.6666%;
  }
}
